<div class="container" id="i18_technology">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="technology.my_technology">Technology</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">

            <style type="text/css">
                .tagBall{width:600px;height:600px;margin:50px auto;position:relative;}
                .tag{display:block;position:absolute;left:0px;top:0px;color:#000;text-decoration:none;font-size:15px;font-weight:bold;}
                .tag:hover{border:1px solid #666;}
            </style>

            <div class="tagBall">
            </div>

            <script type="text/javascript">
                $(document).ready(function(){
                    $('.tagBall').cloudTag({
                        ballSize:300, // the size of the tag cloud ball
                        duration: 10 * 1000, // 10s max animation
                        interval: 10, // timer interval in ms
                        max: 10, // maximum number of tags!
                        tags: [
                            'PHP',
                            'Python',
                            'Java',
                            'C++',
                            'C#',
                            'Objective-C',
                            'Swift',
                            'Scala',
                            'Javascript',
                            'Typescript',
                            'Smalltalk',

                            'Oracle',
                            'MySQL',
                            'Postgres',
                            'DB2',
                            'Cassandra',

                            'Wildfly',
                            'Oracle Weblogic',
                            'IBM Websphere',
                            'Tomcat',

                            'MQSeries',
                            'ActiveMQ',
                            'HornetQ',

                            'JPA',
                            'Spring',
                            'Elastic Stack',
                            'JGroups',
                            'Terracotta',
                            'Infinispan',
                            'Drools',

                            'CSS/LESS',
                            'Gulp',
                            'Grunt',
                            'Webpack',
                            'SystemJS',

                            'Vaadin',
                            'JSF',
                            'JQuery/UI',
                            'AngularJS 1/2',

                            'Ionic',
                            'Cordova',
                            'Cocoa',

                            'JUnit',
                            'Mockito',
                            'Karma',
                            'Protractor',
                            'Selenium',

                            'Chef',
                            'Puppet',
                            'Ansible',

                            'VMWare',
                            'AWS',

                            'Docker',
                            'Kubernetes',

                            'Jira / Agile',
                            'Bitbucket',
                            'Jenkins',
                            'Confluence',
                            'SonarQube',
                            'SVN',
                            'GIT',
                            'Maven',
                            'Nexus / JFrog',
                            'Idea'
                        ]
                    });
                });
            </script>
        </div>
    </div>
</div>
